﻿@model IEnumerable<Flight.Models.AirRoutes>

@{
    ViewData["Title"] = "Home Page";
}


<br>
<br>

<form asp-controller="" asp-action="NewDesign">
    <p>
        From: <input type="text" name="fromString">

        To: <input type="text" name="toString">

        Number of Seats: <input type="text" name="NosValue">

        Depart: <input type="date" name="departDate">

        Return: <input type="date" name="returnDate">
        <input type="submit" value="Filter" />
        
    </p>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stops)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.departing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.arrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.seatsAvailable)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stops)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seatsAvailable)
            </td>
            <td>
                <a asp-controller="AirRoutes" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="AirRoutes" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-controller="AirRoutes" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
