﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Flight.Models.GroupIndexViewModel
<form asp-action="Preferences" asp-controller="" method="get">
<br><br>
    @("")
  @for (var i = 0; i < Model.Filters.Count; i++) 
    {

        <input type="checkbox" asp-for="@Model.Filters[i].Selected"  />
                
        @("Preference Set:")

        <select asp-for="@Model.Filters[i].AndOr">
            <option selected disabled> -- And/Or Min/Max -- </option>
            <option value="and">And - Min - Least of</option>
            <option value="or">Or - Max - Best of</option>
            <option value="compromise">Average</option>
        </select>
          for (var j = 0; j < Model.Filters[i].Prefs.Count; j++) 
             {
        <div>
        
        <select asp-for="@Model.Filters[i].Prefs[j].Pref" class="select1">
            <option selected disabled> --  preference a -- </option>
            <option value="stops" >Stops</option>
            <option value="price">Price</option>
            <option value="seats">Seats Available</option>
        </select>  
        </div>

         <div>
            Min : <input asp-for="@Model.Filters[i].Prefs[j].MinMax.Min" />
            Max : <input asp-for="@Model.Filters[i].Prefs[j].MinMax.Max" />
        </div> 
             }

            
        <br>


        <br><br>
          <button type="submit" name="submit" value="change">Change</button>
        <br><br>

        <select asp-for="@Model.Filters[i].GlobalAndOr">
            <option selected disabled> -- And/Or -- </option>
            <option value="and">And</option>
            <option value="or">Or</option>
            <option value="compromise">Compromise</option>
        </select>

  }
    <br><br>
          <button type="submit" name="submit" value="add">Add</button>
</form>

