@model Flight.Models.AirRoutes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AirRoutes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stops)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stops)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.departing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.departing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.arrival)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.arrival)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.seatsAvailable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.seatsAvailable)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
